<!--The content below is only a placeholder and can be replaced.-->
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Satışlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Satıcılar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Alıcılar</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Ara" aria-label="Search">
      </form>
    </div>
  </nav>
</header>
<main role="main" class="container-fluid pt-3">
  <h2>Satışlar</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Satıcı</th>
        <th>Alıcı</th>
        <th>Adres</th>
        <th>Model</th>
        <th>Genişlik</th>
        <th>Yükseklik</th>
        <th>Uzunluk</th>
        <th>Aldığı Kalıplar</th>
        <th>Garanti Bitiş Tarihi</th>
        <th>Fatura Bedeli</th>
        <th>Bizim Satış Bedeli</th>
        <th>Komisyon</th>
        <th>Extra Kalıp Fiyatı</th>
        <th>Açıklama</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of sales; let i = index">
        <td>{{item.id}}</td>
        <td>{{item.seller.name}}</td>
        <td>{{item.buyer.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.model}}</td>
        <td>{{item.width}}</td>
        <td>{{item.height}}</td>
        <td>{{item.length}}</td>
        <td>{{item.recievedForms}}</td>
        <td>{{item.warrantyEndDate | date : "dd.MM.yyyy" }}</td>
        <td>{{item.invoicePrice}}</td>
        <td>{{item.ourSalePrice}}</td>
        <td>{{item.commission}}</td>
        <td>{{item.extraFormPrice}}</td>
        <td>{{item.description}}</td>
      </tr>
    </tbody>
  </table>
</main>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Altuntaş Makina Sanayi</span>
  </div>
</footer>
